{% extends "base/base.html" %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header">
                    <samp><span id="numero">numero: {{ ticket.numero }}</span></samp>
                </div>
                <div class="card-body">
                    <div class="row">
                        <p>Descrição: {{ ticket.descricao }}</p>
                        <p>Data: {{ ticket.data_inicio }}</p>
                        <p>Prioridade: {{ ticket.prioridade }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="services">Services</label>
                        <select class="form-select" id="services" onchange="changeService(this)">
                            <option value="0" selected="">Select Service</option>
                            {% for service in services %}
                            <option value="{{service.id}}" >{{service.nome}}</option>
                            {% endfor %}
                        </select>
                        <label class="input-group-text" for="templates">Templates</label>
                        <select class="form-select" id="templates" onchange="changeTemplate(this)">
                        </select>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" id="formProvision">
                        {% csrf_token %}
                        <input type="hidden" id="ticket" name="ticket" value="{{ticket.pk}}">
                        <div id="divProvision" class="input-group mb-3">

                        </div>
                        <button type="button" class="btn btn-primary" onclick="provision()"> Provision </button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <samp><span >History</span></samp>
                </div>
                <div class="card-body">
                    <div class="list-group scrollable-div overflow-auto vh-100" id="menuProvisions">
                        {% for provision in provisions %}
                            <button type="button" name="menuHistory" class="list-group-item list-group-item-action" onclick="showHistory(this,'{{provision.pk}}')">{{provision}}</button>
                        {% endfor %}
                      </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <samp><span >Provision</span></samp>
                </div>
                <div class="card-body" style="height: 100%">
                    <div class="terminal scrollable-div overflow-auto vh-100" style="display: none;" id="terminal">
                        <div class="terminal-header">
                            <span class="red"></span>
                            <span class="yellow"></span>
                            <span class="green"></span>
                        </div>
                        <div class="terminal-body" id="divTerminalReturn">

                        </div>
                        <div class="terminal-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

    function ajustarAlturaTextarea(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
        textarea.value = textarea.value.trim();
    }

    function zeroEsquerda(numero) {
        return numero < 10 ? '0' + numero : numero;
    }

    function updateMenuHistory(id){
        var base_url = window.location.origin;
        
        $.get(`${base_url}/api/doo/provision/?ticket=${id}`,function(data){
            $("#menuProvisions").html('')
            data.forEach(function(provision){
                var data = new Date(provision.date);
                var stringData = `${zeroEsquerda(data.getDate())}/${zeroEsquerda(data.getMonth() + 1)}/${data.getFullYear()} ${zeroEsquerda(data.getHours())}:${zeroEsquerda(data.getMinutes())}:${zeroEsquerda(data.getSeconds())}`
                $("#menuProvisions").append(`<button type="button" name="menuHistory" class="list-group-item list-group-item-action" onclick="showHistory(this,'${provision.id}')">${provision.template_name} (${stringData})</button>`);
            })
        })
    }

    function showHistory(bt,id){
        var base_url = window.location.origin;

        $("[name='menuHistory']").removeClass("active");
        $(bt).addClass("active");
        $.get(`${base_url}/api/doo/provision/${id}`,function(data){
            $("#divTerminalReturn").html('')
            $('#terminal').show()
            $("#divTerminalReturn").append(data.prompt);
        })
    }

    function changeService(select){
        var id = select.value;
        var base_url = window.location.origin;
    
        if(id != 0){
          $.get( base_url+'/api/doo/template/?service='+id, function( data ) {
            $("#templates").append('<option value="0">Select Template</option>');
            data.forEach(function(template){
                $("#templates").append("<option value="+template.id+">"+template.name+"</option>");
            })
          });
        }else{
          $("#templates").html(' ');
        }
    }

    function changeTemplate(select){
        var id = select.value
        var base_url = window.location.origin;
    
        if(id != 0){
          $.get( base_url+'/api/doo/provision/template/'+id+'/itens', function( data ) {
            $("#divProvision").html('');
            data.forEach(function(formitem){
                    $("#divProvision").append(`<div class="input-group mb-3">`);
                    $("#divProvision").append(`<span class="input-group-text">${formitem}</span>`); 
                    $("#divProvision").append(`<textarea rows="1" oninput="ajustarAlturaTextarea(this)" class="form-control" aria-label="${formitem}" id="${formitem}" name="param__${formitem}" required> </textarea>`);
                    $("#divProvision").append(`</div>`);
                })
            })
        }else{
          $("#divProvision").html(' ');
        }
      }

      function provision(){
        id = $("#templates").val();
        var form = $('#formProvision').serialize();
        var base_url = window.location.origin;

        $.post(`${base_url}/api/doo/provision/template/${id}`, form, function( data ) {
            $('#terminal').show();
            $("#divTerminalReturn").html('');
            
            data.prompt.forEach(function(line){
                $("#divTerminalReturn").append(line);  
            });

            updateMenuHistory(data.ticket)
        });
      }
</script>
{% endblock %}